/* ----------------------------------------------------
common
---------------------------------------------------- */
.l {
	float: left;
}
.r {
	float: right;
}

.sp_ib {
	display: none;
}

.cs {
	font-size: 2rem;
}

/* ----------------------------------------------------
PC
---------------------------------------------------- */

/*::::::::::::::::::::::::::::::::::
header
:::::::::::::::::::::::::::::::::::*/

.inner {
	width: 980px;
	margin: 0 auto;
}
.inner:after {
	content: "";
	clear: both;
	display: block;
}

#floating {
	width: 100%;
	background-color: #444;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
}
#floating a {
	text-align: center;
	display: block;
	color: #fff;
	padding: 15px 0px;
	width: 100%;
	text-decoration: none;
}

/* header */
#top-head {
	top: -100px;
	position: absolute;
	width: 100%;
	margin: 90px auto 0;
	padding: 70px 0px 10px;
	line-height: 1;
	z-index: 200;
	background-color: #fff;
}
#top-head a,
#top-head {
	color: #333;
	text-decoration: none;
}
#top-head a:hover,
#top-head:hover {
	text-decoration: none;
}
#top-head .inner {
	position: relative;
}
#top-head .logo {
	float: left;
	font-size: 36px;
}
#global-nav ul {
	list-style: none;
	position: absolute;
	right: 0;
	bottom: 6px;
	font-size: 14px;
}
#global-nav ul li {
	float: left;
}
#global-nav ul li a {
	padding: 0 30px 10px;
}

/* Fixed */
#top-head.fixed {
	margin-top: 50px;
	top: 0;
	position: fixed;
	padding-top: 10px;
	height: 25px;
	background: #fff;
	background: rgba(255,255,255,.7);
	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
	font-size: 24px;
	color: #333;
}
#top-head.fixed #global-nav ul li a {
	color: #333;
	padding: 0 20px 8px;
}

/* Toggle Button */
#nav-toggle {
	display: none;
	position: absolute;
	right: 12px;
	top: 14px;
	width: 34px;
	height: 36px;
	cursor: pointer;
	z-index: 101;
}
#nav-toggle div {
	position: relative;
}
#nav-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #666;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
	top: 0;
}
#nav-toggle span:nth-child(2) {
	top: 11px;
}
#nav-toggle span:nth-child(3) {
	top: 22px;
}


/*::::::::::::::::::::::::::::::::::
page-top
:::::::::::::::::::::::::::::::::::*/
#page-top {
	position: fixed;
	bottom: 20px;
	right: 40px;
	font-size: 77%;
	width: 60px;
	padding-right: 0;
	cursor: pointer;
}
#page-top a {
	width: 100%;
	padding-bottom: 70%;
	background: #C5C5C5;
	text-decoration: none;
	color: #fff;
	text-align: center;
	display: block;
	border-radius: 5px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
#page-top a:hover {
	opacity: 0.9;
}
.hvr-icon-bob::before {
	width: 1em;
	height: 1em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 5;
	color: #fff;
	font-size: 1.5rem;
}

/*::::::::::::::::::::::::::::::::::
footer
:::::::::::::::::::::::::::::::::::*/
footer {
	padding: 10px 0 10px;
	font-size: 15px;
	text-align: center;
	background-color: #333;
	color: #fff;
	margin-top: 100px;
}
footer small {
	display: block;
	font-size: 1rem;
}
footer .snsbox {
	margin: 5px auto 0;
	display: inline-block;
}
footer .snsbox li {
	float: left;
	padding-left: 5px;
}
footer .snsbox li a {
	padding-left: 5px;
}
footer .snsbox li:before {
	content: "/";
}
footer .snsbox li:first-child ,
footer .snsbox li:first-child a {
	padding-left: 0;
}
footer .snsbox li:first-child:before {
	content: "";
	display: none;
	padding: 0 5px;
}
footer .snsbox li a {
	color: #A1A1A1;
}
/*::::::::::::::::::::::::::::::::::
content
:::::::::::::::::::::::::::::::::::*/
#content-wraper {
	margin-top: 125px;
}
.pagettl h2 {
	font-size: 2.3rem;
	text-align: center;
	padding: 10px 0;
}
.sp_block {
	display: none;
}

/*::::::::::::::::::::::::::::::::::
main-area
:::::::::::::::::::::::::::::::::::*/

.edgeLoad-EDGE-10196486 { visibility:hidden; }
#Stage { background-color: transparent!important;}

.main-area {
	background: url("../img/bg_pattern.jpg") no-repeat center 57%;
	-webkit-background-size: cover;
	background-size: cover;
	/*min-width: 980px;*/
	margin: 0 auto;
}
.main-area .inner {
	height: 320px;
	position: relative;
	padding-top: 40px;
	-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
}
.main-area .inner h1 {
	font-size: 2.3rem;
	text-align: center;
}
.main-area .snsbox {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 280px;
	z-index: 20;
}

.main-area .snsbox li {
	width: 25%;
	float: left;
	text-align: center;
}
.main-area .snsbox li a {
	display: block;
	font-size: 1.4rem;
	background-color: #333;
	border-radius: 50%;
	padding: 15% 0px;
	margin: 0px 17%;
	position: relative;
}
.main-area .snsbox li a:hover {
	opacity: 0.8;
}
.main-area .snsbox li a span {
	display: inline-block;
	text-indent: -9999px;
	color: #fff;
}
.main-area .snsbox li a span:before {
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 1em;
	height: 1em;
}

.bnrbox {
	position: absolute;
	right: 0;
	bottom: 20px;
	z-index: 20;
}
.bnrbox .bnr {
	background-color: #333;
}
.bnrbox .bnr a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 15px 60px 15px 50px;
	font-size: 16px;
}
.bnrbox .bnr:hover {
	opacity: 0.8;
}

.cont {
	padding: 60px 0;
}
.cont h2 {
	font-size: 2.6rem;
	margin-bottom: 65px;
	font-family: 'Montserrat', sans-serif;
	color: #333;
	border-bottom: 1px dotted #333;
	padding-bottom: 5px;
}
.cont h2 i {
	margin-right: 10px;
	color: #00C6D5;
	font-size: 1.5rem;
	vertical-align: middle;
}
.cont h2 i.fa-exclamation {
	font-size: 1.8rem;
}
.cont h2 span {
	letter-spacing: 2px;
	vertical-align: middle;
}
.cont .inner {
	position: relative;
	padding: 0 10px;
}

/*・・・・・・・・・・・・・・
about
・・・・・・・・・・・・・・・*/
#about h3 {
	font-size: 1.9rem;
	margin-bottom: 35px;
}
#about p {
	line-height: 1.5;
}
#about p + p{
	margin-top: 15px;
}

/*・・・・・・・・・・・・・・
news
・・・・・・・・・・・・・・・*/
#news .newsbox {
	border: 5px solid #D8D8D8;
	padding: 25px 25px 20px;
	padding-bottom: 20px;
}
#news .newsbox {
	display: table;
}
#news .newsrow + .newsrow {
	margin-top: 20px;
	border-top: 1px solid #eee;
	padding-top: 18px;
}
#news .newsbox dt {
	display: table-cell;
	width: 180px;
}
#news .newsbox dt .label-new {
	background-color: #F3724C;
	color: #fff;
	padding: 4px 8px 6px;
	border-radius: 3px;
	display: inline-block;
	margin: 0px 10px;
	font-family: "Montserrat",sans-serif;
	font-size: 0.9rem;
}
#news .newsbox dd {
	display: table-cell;
	line-height: 1.4;
}
#news .btn-read {
	margin-top: 10px;
	text-align: right;
}
#news .btn-read a {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
#news .newsbox a {
	color: #00C0FF;
}
#news .btn-read a {
	color: #333;
	padding-bottom: 5px;
	text-decoration: none;
}
.fa-angle-right {
	padding-right: 5px;
}



/*・・・・・・・・・・・・・・
access
・・・・・・・・・・・・・・・*/
.mapbox .l {
	position: relative;
	width: 60%;
	padding-bottom: 40%;
}
.mapbox .l iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mapbox .r {
	width: 37%;
}
.mapbox .r h3 {
	font-size: 2.2rem;
}
.mapbox .r ul {
	margin-top: 35px;
}
.mapbox .r ul li {
	margin-top: 10px;
}
.mapbox .r a {
	color: #333;
}
#map.cont h2 i.fa-map-o {
	font-size: 1.4rem;
}

/*・・・・・・・・・・・・・・
speaker
・・・・・・・・・・・・・・・*/
#speaker .list-speaker {
	margin-top: -45px;
	margin-left: -5.6%;
}
#speaker .list-speaker li {
	float: left;
	width: 15%;
	margin-top: 45px;
	margin-left: 5%;
	text-align: center;
}
#speaker .list-speaker li a {
	display: block;
	text-decoration: none;
	width: 110%;
}
#speaker .list-speaker a .name {
	color: #333;
}
#speaker .list-speaker li .name {
	margin-top: 10px;
	display: inline-block;
}
#speaker .list-speaker li h3 {
	margin-bottom: 0;
}
#speaker.cont h2 i.fa-bullhorn {
	font-size: 1.8rem;
}


/*ihover overwrite*/
.ih-item.circle {
	width: 140px;
	height: 140px;
	margin-bottom: 17px;
}
.ih-item.circle.effect1 .spinner {
	border-color: #F09A81 #34BBE5 #34BBE5 #F09A81;
}
.ih-item.circle.effect1 .spinner {
	width: 150px;
	height: 150px;
	-webkit-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
	margin-bottom: 10px;
}
.ih-item.circle.effect1 .info h3 {
	font-size: 13px;
}
.ih-item.circle.effect1 .info p {
	display: inline-block;
	position: absolute;
	top: -20px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	height: 1em;
	padding: 0;
	border-top: none;
}
.ih-item.circle.effect1 .info p i {
	font-size: 1.8rem;
	color: #fff;
}

/*・・・・・・・・・・・・・・
faq
・・・・・・・・・・・・・・・*/

#faq .faq-col {
	margin-bottom: 25px;
}
#faq .faq-col dt {
	font-size: 1.6rem;
	padding-left: 1em;
	text-indent: -1em;
	line-height: 1.1;
}
#faq .faq-col dd {
	margin-top: 10px;
	margin-left: 2em;
	line-height: 1.5;
}
#faq .faq-col dt:before {
	content: "Q.";
}
#faq.cont h2 i.fa-question {
	font-size: 2.1rem;
}


/*・・・・・・・・・・・・・・
sponsor
・・・・・・・・・・・・・・・*/

#sponsor .sponsor-list {
	overflow: hidden;
	margin-left: -10px;
}
#sponsor .sponsor-list li {
	width: 320px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}


/*・・・・・・・・・・・・・・
staff
・・・・・・・・・・・・・・・*/

#staff .staff-list {
	overflow: hidden;
	margin-left: -42px;
}
#staff .staff-list li {
	width: 69px;
	float: left;
	margin-top: 20px;
	margin-left: 42px;
	text-align: center;
}
#staff .staff-list li img {
	width: 100%;
}
#staff .staff-list li a {
	text-decoration: none;
}
#staff .staff-list li a span {
	font-size: 0.8rem;
	color: #333;
}

/* ----------------------------------------------------
SP
---------------------------------------------------- */

@media screen and (max-width: 640px) {
/*::::::::::::::::::::::::::::::::::
header
:::::::::::::::::::::::::::::::::::*/
	.sp_block {
		display: block;
	}
	.main-area {
		min-width: auto;
	}
	.main-area h1 {
		width: 70%;
		margin: 0 auto;
		padding-bottom: 10%;
	}
	.main-area h1 img {
		width: 100%;
	}
	#Stage {
		width: 100% !important;
		height: auto !important;
	}
	#Stage_bg_shape , #Stage_bg_shape_r , #Stage_bg_shape_l , #Stage_ttl_2016 , #Stage_ttl_conference , #Stage_ttl_frontend {
		display: none!important;
	}
	.cs {
		font-size: 1.5rem;
	}
	.sp_ib {
		display: inline-block;
	}
	#top-head.fixed {
		margin-top: 0;
	}
	#top-head,
	.inner {
		width: 100%;
		padding: 0;
	}
	#top-head {
		top: 0;
		position: fixed;
		margin-top: 0;
		background-color: #fff;
	}
	#floating {
		top: inherit;
		bottom: 0;
	}
	/* Fixed reset */
	#top-head.fixed {
		padding-top: 0;
		background: transparent;
	}
	#mobile-head {
		background: #fff;
		width: 108%;
		height: 56px;
		z-index: 999;
		position: relative;
		margin-left: -4%;
	}
	#top-head.fixed .logo,
	#top-head .logo {
		position: absolute;
		left: 13px;
		top: 13px;
		color: #333;
		font-size: 26px;
	}
	#global-nav {
		position: absolute;
		top: -500px;
		background: rgba(0, 0, 0, 0.85);
		width: 100%;
		text-align: center;
		padding: 10px 0;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		margin-left: -3%;
	}
	#global-nav ul {
		list-style: none;
		position: static;
		right: 0;
		bottom: 0;
		font-size: 14px;
	}
	#global-nav ul li {
		float: none;
		position: static;
	}
	#top-head #global-nav ul li a,
	#top-head.fixed #global-nav ul li a {
		width: 100%;
		display: block;
		color: #fff;
		padding: 18px 0;
		font-size: 12px;
	}
	#nav-toggle {
		display: block;
	}
	/* #nav-toggle 切り替えアニメーション */
	.open #nav-toggle span:nth-child(1) {
		top: -11px;
		-webkit-transform: translateY(20px) rotate(-45deg);
		transform: translateY(20px) rotate(-45deg);
	}
	.open #nav-toggle span:nth-child(2) {
		width: 0;
		left: 50%;
		opacity: 0;
	}
	.open #nav-toggle span:nth-child(3) {
		top: 29px;
		-webkit-transform: translateY(-20px) rotate(45deg);
		transform: translateY(-20px) rotate(45deg);
	}
	/* #global-nav スライドアニメーション */
	.open #global-nav {
		/* #global-nav top + #mobile-head height */
		-moz-transform: translateY(556px);
		-webkit-transform: translateY(556px);
		transform: translateY(556px);
	}
	.cont h2 {
		font-size: 1.7rem;
	}
	#content-wraper {
		margin-top: 56px;
	}
	.main-area .inner {
		padding-top: 25px;
		height: auto;
	}
	.main-area .snsbox , .main-area .bnrbox {
		position: relative;
	}
	.main-area .snsbox {
		margin: 0 auto;
		width: 50%;
	}
	.main-area .snsbox li a {
		background-color: transparent;
	}
	.main-area .snsbox li a span {
		color: #505050;
	}
	.inner {
		padding: 0 3%;
	}
	.main-area .bnrbox {
		margin-top: 5%;
	}
	.main-area .snsbox li a {
		font-size: 1rem;
	}

	.bnrbox .bnr a {
		padding: 4% 6%;
	}
	.cont {
		padding: 30px 0px;
	}
	.cont h2 {
		margin-bottom: 30px;
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	.cont .inner::after {
		display: none;
	}
	.mapbox .l , .mapbox .r {
		float: none;
		width: 100%;
	}
	.mapbox .r {
		margin-top: 20px;
	}
	.mapbox .r .map-txt {
		margin-top: 15px;
	}
	.ih-item.circle {
		width: 100%;
		height: auto;
	}
	.list-speaker li {
		margin-left: 4%;
	}
	.list-speaker li a {
		width: 100%;
	}
	.ih-item.circle.effect1 .img {
		position: static;
	}
	.spinner , .info {
		display: none;
	}
	.list-speaker li {
		width: 28.33%;
	}
	.faq-col dd {
		margin-top: 10px;
	}
	#page-top {
		right: 10px;
		width: 50px;
	}
	.hvr-icon-bob::before {
		font-size: 1rem;
	}
	#floating a {
		font-size: 0.5rem;
		padding: 15px 0;
	}
	.sns-foot .snsbox {
		width: 100%;
	}

	/*・・・・・・・・・・・・・・
	about
	・・・・・・・・・・・・・・・*/
	#about h3 {
		font-size: 1.2rem;
	}
	/*・・・・・・・・・・・・・・
	map
	・・・・・・・・・・・・・・・*/
	.mapbox .r h3 {
		font-size: 1.2rem;
	}
	.mapbox .r ul {
		margin-top: 15px;
	}
	/*・・・・・・・・・・・・・・
	speaker
	・・・・・・・・・・・・・・・*/
	.list-speaker {
		margin-top: -5px;
		margin-left: -4%;
	}
	.list-speaker li {
		margin-top: 5px;
	}
	/*・・・・・・・・・・・・・・
	faq
	・・・・・・・・・・・・・・・*/
	.faq-col dt {
		font-size: 1.3rem;
	}

	#page-top {
		bottom: 80px!important;
	}
}


/* -----------------------------
speaker.html
------------------------------- */

#speaker .column.hole .l h3 ,
#speaker .column.hole .r h3 {
	text-align: center;
}
#speaker .column {
	position: relative;
}
#speaker .column .inner {
	overflow: hidden;
}
#speaker #content-wraper {
    margin-top: 115px;
}
#speaker .column.hole .l , .column.hole .r {
	width: 45%;
	border: 4px solid #333;
	padding: 4px;
	-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
}
.column.hole .r {
	margin-left: 5%;
}
.speaker-list {
	overflow: hidden;
	margin-top: 20px;
}
.speaker-list li {
	float: left;
	width: 50%;
}
.speaker-list li:before {
	content: "・";
}
.speaker-list li a {
	color: #3089A5;
}
#speaker .column:nth-child(odd) {
	background-color: #eee;
}
#speaker .column.pagettl {
	background-color: #fff;
}
#speaker .inner .border {
	border: 1px solid #333;
	padding: 20px;
}
#speaker .column {
	padding: 50px 0px 20px;
}
#speaker .column.hole {
	padding: 0px 0px 40px;
}
#speaker .speaker-img {
	float: left;
}
#speaker .speaker-img .img {
	width: 150px;
	border-radius: 50%;
	overflow: hidden;
}
#speaker .speaker-detail {
	width: 780px;
	float: right;
}
#speaker .speaker-detail h1 {
	font-size: 1.5rem;
}
#speaker .speaker-detail h1 + p {
	margin-top: 20px;
}
#speaker .column .tag {
	float: right;
	overflow: hidden;
}
#speaker .column .tag li {
	float: left;
	padding-left: 6px;
}
#speaker .column .tag li span {
	display: inline-block;
	background-color: #F38869;
	padding: 5px 10px;
	color: #fff;
	margin-left: 6px;
}
#speaker .column .tag li:before {
	content: "/";
	display: inline;
}

#speaker .column .tag li:first-child:before {
	content: "";
	display: none;
	padding: 0 5px;
}
#speaker .label {
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
}
#speaker .label.time {
	position: absolute;
	top: 0;
	left: 0;
}
#speaker .label.hole {
	position: absolute;
	top: 0;
	left: 5.5em;
}
#speaker .label.hole.a-hole {
	background-color: #34BBE5;
}
#speaker .label.hole.b-hole {
	background-color: #F95D5D;
}


/* ----------------------------------------------------
SP
---------------------------------------------------- */

@media screen and (max-width: 640px) {
	/*::::::::::::::::::::::::::::::::::
	header
	:::::::::::::::::::::::::::::::::::*/
	#speaker #content-wraper {
		margin-top: 60px;
	}
	#speaker #content-wraper .pagettl.column {
		padding: 0;
		margin-bottom: 10px;
	}
	#speaker .column.hole .l, .column.hole .r {
		width: 100%;
	}
	.column.hole .r {
		margin-top: 15px;
	}
	.speaker-list li {
		width: 100%;
		float: none;
		margin-top: 10px;
	}
	.speaker-list li:first-child {
		margin-top: 0;
	}
	#speaker .speaker-img {
		width: 100%;
		float: none;
	}
	#speaker .speaker-img .img {
		margin: 0 auto;
	}
	#speaker .speaker-detail {
		float: none;
		margin-top: 15px;
		padding: 0 3%;
		width: 100%;
	}
	#speaker .speaker-detail h1 + p {
		margin-top: 10px;
	}
	#speaker .column .tag {
		float: none;
		margin-top: 20px;
	}
	#speaker .column {
		padding: 40px 0px 25px;
	}
}