@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


section {
	padding-bottom: 20px;
}

.handson-img {
	width: 100%;
	height: 100%;
	
}

#handson-howto {
	padding: 50px 0;
	background-color: #eee;
	background-image: url(../images/handson/handson.jpg)
	background-size: cover;
}

.handson-howto {
	margin: 0 auto;
	padding: 20px 40px 30px;
	width: 85%;
	height: auto;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
	background: #fff;	
	
}
.handson-howto h1 {
	font-size: 2em;
	margin-bottom: 30px;
}
.handson-howto p {
	margin-bottom: 1.5em;
}

#handson-lists {
	padding: 40px 0;
	background: #d3efff;
}

h1.edge {
	font-size: 1.7em;
	font-weight: 100;
}
.edge {
	position: relative;
	display: inline-block;
	margin-bottom: 45px;
	padding: 20px 40px;
	width: auto;
	height: auto;
	color: #4d4d4d;
	line-height: 40px;
	text-align: center;
	background: #fff;
	z-index: 0;
}
.edge:after {
	content: "";
	position: absolute;
	bottom: -35px; left: 0;
	margin-left: 0;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 40px 35px 0;
	border-color: transparent #63c3ff transparent transparent;
	z-index: -1;
}

.handson-lists ul li {
	margin-bottom: 30px;
	padding-left: 20px;
}

.handson-lists ul li:before {
  content: "";
  display: inline-block;
  border: 8px solid transparent;
  border-left-color: #fff;
}

span.tag {
	display: inline-block;
	border-radius: 6px;
	padding: 4px 6px;
	font-size: 0.7em;
	font-weight: bold;
	color: #fff;
	background: #fc9b79;
}

.handson-lists ul li a {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
	text-decoration: none;
	margin-right: 8px;
	color: #414141;
	
	&:hover {
		color: #4499CE;
	}
}

#handson {
	padding-top: 30px;
	background: #63c3ff;
}

.handson-list {
	width: 100%;
	margin-bottom: 40px;
	padding: 40px 8% 70px;
	background: #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.handson-list .heading {
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.handson-list h1 {
	margin-bottom: 10px;
	font-size: 2em;
}

.handson-list p {
	padding-top: 20px;
}

.handson-list .detail {
	margin: 0 auto;
	border-top: 1px dotted #ccc;
	padding-top: 30px;
}

.handson-list .detail dl {
	
	dt {
	margin-bottom: 10px;
	padding: 2px 4px;
	background: #d9efff;
	}
	
	dd.name {
		font-size: 1.1em;
		font-weight: bold;
	}
	
	dd.time {
		color: #888;
	}
	
	
}


.handson-list .prof-img {
	margin-top: 20px;
	border-radius: 50%;
}

.btn-join {
	a {
	display: block;
	width: auto;
	height: auto;
	margin: 60px 30px 0;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	background: #fc9773;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	
	&:hover {
		text-decoration: none;
		background: #ff7545;
	}
	
	transition: all 0.2s;
		
	}
	
}

.handson-info {
	padding: 40px 20px 20px;
}
.handson-info dl {
	margin-bottom: 30px;
}
.handson-info dl dt {
	margin-bottom: 10px;
}

.join {
	text-align: center;
	
	.btn a {
	display: block;
	width: auto;
	height: auto;
	margin:  0 auto 10px;
	border-radius: 4px;
	border: 3px solid #23a8fc;
	padding: 15px 30px;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	color: #23a8fc;
	
	&:hover {
		text-decoration: none;
		color: #218bd3;
		border: 3px solid #218bd3;
	}
	
	transition: all 0.2s;
}
	
	.btn-join {
	a {
	display: block;
	width: auto;
	height: auto;
	margin: 60px 30px 30px;
	padding: 30px;
	text-align: center;
	border-radius: 5px;
	background: #23a8fc;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
	color: #fff;
	
	&:hover {
		text-decoration: none;
		background: #218bd3;
	}
	
	transition: all 0.2s;
		
	}
	
}
	
	
}