<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <a href="./">
                    <img class="footerLogo" src="./img/logo_kfug_lucid.png" alt="">
                </a>
            </div>
            <div class="col-sm-6 linkArea">
                <h3 id="contact">CONTACT</h3>
                <p>
                    お問い合わせは
                    <a href="https://www.facebook.com/frontconf2016/" target="_blank">Facebookページ</a>
                    または
                    <a href="https://twitter.com/frontkansai" target="_blank">Twitter公式アカウント</a>
                    よりお願いします。
                </p>
                <p>
                    その他関西フロントエンドUGのイベント情報は
                    <a href="http://kfug.connpass.com/">Connpassページ</a>
                    や
                    <a href="https://www.facebook.com/groups/kansai.frontend">Facebookグループ</a>
                    よりご確認ください。
                </p>
            </div>
        </div>
    </div>
</footer>
