<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,user-scalable=0">
<title>FRONTEND CONFERENCE 2016</title>

<meta name="description" content="関西最大級のフロントエンドの祭典、FRONTEND CONFERENCE 2016!! 大阪梅田 にて 2016.03.05 開催!">
<meta name="keywords" content="フロントエンド,関西フロントエンドUG,KFUG,FRONTEND CONFERENCE,フロントエンドカンファレンス2016">
<meta property="og:title" content="フロントエンドカンファレンス2016">
<meta property="og:type" content="article">
<meta property="og:url" content="http://kfug.jp/frontconf2016/">
<meta property="og:site_name" content="フロントエンドカンファレンス2016">
<meta property="og:description" content="関西最大級のフロントエンドの祭典、FRONTEND CONFERENCE 2016!! 大阪梅田 にて 2016.03.05 開催!">
<meta property="og:image" content="http://kfug.jp/frontconf2016/img/fec_main.png">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/ihover.min.css">
<link rel="stylesheet" href="css/hover.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/common.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>
